html{
    position: relative;
}

body{
    margin-bottom: 50px;
}

.jumbotron{
    margin-top: 50px;
}

.jumbotron img{
    border: 3px solid black;
}

hr{
    width: 250px;
    border: 1px solid black;
    background-color: black;
}

.member{
    background-color: #e9ecef;
}

.member .col-sm-3{
    margin-bottom: 30px;
}

.about, .contact{
    padding: 50px 0px 70px 0px;
}

.member{
    padding: 50px 0px 40px 0px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    color: lightgray;
    font-size: 10pt;
    text-align: center;
    line-height: 50px;
    overflow: hidden;
}

.member .gambar span{
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,.5);
    text-align: center;
    line-height: 150px;
    font-size: 1.5rem;
    color: white;
    opacity: 0;
    transition: .7s;
}

.member .gambar a:hover span{
    opacity: 1;
}