body{
    margin: 0px;
    background-image: url(../portofolio/img/catpattern.jpg);
    background-repeat: repeat;
    font-family: 'Courier New', Courier, monospace;
}

.topbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: black;
    z-index: 999;
}

.topbar p{
    color: white;
    font-size: 12pt;
    margin-left: 40px;
    top: auto;
    bottom: auto;
}

.container{
    width: 960px;
    margin: 70px auto;
    border: 2px solid black;
    background-color: white;
    position: relative;
}

.ribbon{
    position: absolute;
    right: -15px;
}

.ribbon img{
    width: 90px;
    height: 90px;
}

.header li{
    display: inline-block;
    margin-bottom: 50px;
    font-size: 10pt;
}

.header h1{
    margin-bottom: -3px;
    margin-top: 20px;
    font-size: 4.5rem;
}

.gambar{
    height: 400px;
    overflow: hidden;
    margin-bottom: 25px;
}

.gambar img{
    width: 960px;
    margin-top: -90px;
}

.main{
    margin-bottom: 30px;
}

.artikel{
    float: left;
    width: 600px;
    border-right: 2px solid black;
}

.artikel .judul h3{
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: -13px;
}

.artikel .judul p{
    font-size: 8pt;
    margin-bottom: 20px;
}

.penulis{
    width: 250px;
    display: inline-block;
}

.penulis h4, p{
    font-size: 12pt;
}

.penulis h4{
    margin-bottom: 10px;
}

.penulis p{
    margin-top: -3px;
}

.penulis img{
    width: 80px;
    float: left;
    margin-right: 15px;
}

.footer{
    background-color: black;
    width: cover;
    height: 40px;
    color: white;
    font-size: 10pt;
}

.footer p{
    text-align: center;
    padding-top: 10px;
}

.header, .artikel, .penulis{
    padding-left: 20px;
    padding-right: 20px;
}

.clear{
    clear: left;
}