* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1d1d1;
    overflow-y: hidden;
}

.container{
    display: grid;
    grid-template-areas: 
    'navbar content';
    grid-template-columns: 10% auto;
}

/* navbar */
.navbar{
    grid-area: navbar;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    height: 100vh;
    background-color: #7d5a5a;
    display: grid;
    grid-template-areas: 
    'menu'
    'sosmed';
    grid-template-rows: auto 10%;
    align-items: center;
    opacity: 1;
    z-index: 999;
}

.navbar .menu{
    grid-area: menu;
}

.navbar .sosmed{
    grid-area: sosmed;
    display: flex;
    justify-content: space-around;
}

.navbar .menu ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar .menu ul li a{
    text-decoration: none;
    color: #faf2f2;
    padding-top: 30px;
    font-size: 15pt;
    transition: all .5s;
}

.navbar .menu ul li a:hover{
    opacity: .6;
}

.navbar .sosmed img{
    width: 25px;
    transition: all .5s;
}

.navbar .sosmed img:hover{
    opacity: .6;
}

/* content */
.content{
    grid-area: content;
}

/* content home */
.content .home{
    text-align: right;
    padding-right: 50px;
    height: 100vh;
    display: grid;
    align-content: center;
    grid-template-areas: 
        'image title';
    grid-template-columns: 10% auto;
    background-color: #f1d1d1;
}

.content .home .title{
    grid-area: title;
    display: grid;
    align-content: center;
}

.content .home .title h1{
    font-size: 19vh;
    color: #f1d1d1;
    transition: all .6s;
}

.content .home .title h1:hover{
    color: #7d5a5a;
}

.content .home .title h1:hover > span{
    background-color: #f1d1d1;
}

.content .home .title p{
    color: #f1d1d1;
    margin-top: 5px;
}

.content .home .title span{
    background-color: #7d5a5a;
    padding-left: 10px;
    transition: all .7s;
}

.content .home .title p span{
    padding: 4px;
}

.content .home .image{
    grid-area: image;
    position: relative;
    right: 250px;
    top: 50px;
}

.content .home .image img{
    height: 90vh;
    width: 90vh;
}

/* content profile */
.content .profile{
    position: absolute;
    top: 0;
    width: 90vw;
    height: 100vh;
    /* z-index: -99; */
}

.content .profile .card{
    position: absolute;
    top: 0;
    width: 90vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        'name birth'
        'address education';
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    z-index: 100;
}

.content .profile .card img{
    width: 270px;
}

.content .profile .card .name,
.content .profile .card .education{
    background-color: #fab7b7;
    display: grid;
    grid-template-columns: 270px auto;
    align-items: center;
    justify-content: space-evenly;
    color: #f3e1e1;
    font-size: 5vh;
}

.content .profile .card .birth,
.content .profile .card .address{
    background-color: #f3e1e1;
    display: grid;
    grid-template-columns: 270px auto;
    align-items: center;
    justify-content: space-evenly;
    color: #fab7b7;
    font-size: 5vh;
}

.content .profile .card .name{
    grid-area: name;
}

.content .profile .card .birth{
    grid-area: birth;
}

.content .profile .card .address{
    grid-area: address;
}

.content .profile .card .education{
    grid-area: education;
}

.content .profile .card .birth img{
    margin-left: 20px;
}

.content .profile .card .birth h1{
    margin-left: 50px;
}

.content .profile .behind{
    position: absolute;
    top: 0;
    width: 90vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        'name birth'
        'address education';
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.content .profile .behind .name{
    grid-area: name;
    background-color: #fab7b7;
}

.content .profile .behind .birth{
    grid-area: birth;
    background-color: #f3e1e1;
}

.content .profile .behind .address{
    grid-area: address;
    background-color: #f3e1e1;
}

.content .profile .behind .education{
    grid-area: education;
    background-color: #fab7b7;
}